.CarouselItem{
    width: 100%;
    height: 100%;
    position: absolute;
    /*La transicion transform (all en este caso) tiene que coincidir con el setInterval de Carousel.js*/
    transition: all 9s linear, opacity 0.7s ease-out;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    z-index: 1;
    transform: scale(1.26) translate(0,0);
    opacity: 0;
}

/*Por ahora tenemos dos efectos diferentes*/
.Item_active_1{
    transform: scale(1.2) translate(2%,4%);
    opacity: 1;
}
.Item_active_2{
    transform: scale(1.2) translate(-2%,-4%);
    opacity: 1;
}
.Item_inactive{
    transform: scale(1.26) translate(0,0);
    opacity: 0;
}



