/*Efecto en click de los items*/
.NavItem{
    height: 25px;
    margin: 30px 0px;
    display: flex;
    transition: all 0.25s ease-out;
}
.NavItemActive{
    transform: translateX(20px);
}
.NavItemInactive{
    transform: translateX(0px);
}

/*Efecto hover de los items*/
.NavItem a{
    font-family: 'CircularStd';
    color: black;
    text-decoration: none;
    transition: all 0.2s ease-out;
}
.NavItem a:hover{
    color: black!important;
    transform: translateX(20px);
}
.enteredItemActive a{

    color: black  !important;
}
.enteredItemInactive a{
    color:rgb(150, 149, 149) !important;
    transform: translateX(0px);
}

/*Efecto en click de las flechas*/
.Arrow{
    transition: all 0.21s ease-out;
}
.ArrowActive{
    transform: translateX(0px);
}
.ArrowInactive{
    transform: translateX(-100px);
}
